<div class="row">
    <div class="col-md-6">
      <button class="btn btn-info"><a href="/roles">Roles List</a></button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-info"><a href="/users">User List</a></button>
    </div>
</div>